
body{
    background-color: royalblue;
    text-align: center;
   
    

}
img{
width: 1400px;
height:700px;


}
footer {
    font-size: 25px;
}  




    
    
    
    
    
    
    

